---
import type { MarkdownHeading } from "astro";
import buildTOC from "./TOC.utils";
import TOCItem from "./TOCItem.astro";

export type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
const toc = buildTOC(headings);
---

<style>
  @layer markers;

  details {
    border-radius: 0.5rem;
    transition: 50ms;
  }

  summary::before,
  summary::after {
    transition: 200ms;
  }

  summary {
    position: relative;
  }

  summary::marker {
    content: none;
  }

  summary::before,
  summary::after {
    content: "";
  }
</style>
  {toc.length !== 0 ? (
    <details>
      <summary>Table of Contents</summary>
      <nav class="toc">
        <ul>
          {toc.map((heading) => <TOCItem heading={heading} />)}
        </ul>
      </nav>
    </details>
  ) : null}
