---
import type { TOC } from "./TOC.utils";

type Props = {
  heading: TOC;
};

const { heading } = Astro.props;
---

<li class="mb-1 text-gray-600">
  <a href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul class="ml-4">
        {heading.children.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
