---
import type { TOC } from "./TOC.utils";

type Props = {
  heading: TOC;
};

const { heading } = Astro.props;
---

<li class="mb-1">
  <a
    href={"#" + heading.slug}
    class="text-gray-500 text-sm hover:text-gray-900 dark:hover:text-gray-100"
  >
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul class="ml-2">
        {heading.children.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
