---
import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Coffee from "../components/Coffee.astro";
import { Collection } from "../components/Collection";
import Computer from "../components/Computer.astro";
import Sunflower from "../components/Sunflower.astro";
import Sup from "../components/Sup.astro";

const blog = await getCollection("blog");
const project = await getCollection("project");
const photography = await getCollection("photo");
---

<BaseLayout>
  <header
    class="grid grid-cols-8 gap-10 items-start sm:grid-cols-4 md:grid-cols-4"
  >
    <div class="col-span-4 flex gap-24 w-full flex-col">
      <Header />
      <div class="flex justify-end">
        <div class="flex gap-4 items-end">
          <div class="sm:hidden md:block lg:hidden">
            <Coffee />
          </div>
          <Computer class="text-base leading-[19px]" />
          <div class="sm:hidden md:block lg:hidden">
            <Sunflower />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-4 flex flex-col w-full justify-between h-full">
      <div class="grid grid-cols-4 gap-10">
        <p class="col-span-4 text-2xl leading-[30.29px] m">
          a software engineer who enjoys sleeping, reading, designing layouts,
          and occasionally building stuff. Currently learning about <Sup>
            (1)
          </Sup>grid systems,
          <Sup>(2)</Sup>crafting zines, <Sup>(3)</Sup>arranging letters, and <Sup
          >
            (4)
          </Sup>trying photography.
        </p>
      </div>
      <div class="grid grid-cols-4 gap-10 mt-20">
        <ul
          class="col-span-2 sm:col-span-4 lg:col-span-3 flex justify-between items-center text-lg"
        >
          <li
            class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-50 transition-all"
          >
            <a
              href="https://github.com/abdmmar"
              target="_blank"
              rel="noreferrer">GitHub</a
            >
          </li>
          <li class="text-gray-300 dark:text-gray-800">/</li>
          <li
            class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-50 transition-all"
          >
            <a
              href="https://twitter.com/abdmmar"
              target="_blank"
              rel="noreferrer">Twitter</a
            >
          </li>
          <li class="text-gray-300 dark:text-gray-800">/</li>
          <li
            class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-50 transition-all"
          >
            <a
              href="mailto:abd.ammar.mar@gmail.com"
              target="_blank"
              rel="noreferrer">Email</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main class="flex w-full flex-col mt-10 gap-10">
    <Collection
      client:load
      blog={blog}
      project={project}
      photography={photography}
    />
  </main>
</BaseLayout>
