---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { HiArrowRight, HiArrowUpRight, HiOutlineMoon } from "react-icons/hi2";
import wcToast from "../assets/projects/wc-toast.webp";
import BaseHead from "../components/BaseHead.astro";
import Coffee from "../components/Coffee.astro";
import Computer from "../components/Computer.astro";
// import { Masonry } from "../components/Masonry";
import { Collection } from "../components/Collection";
import CollectionFilter from "../components/CollectionFilter";
import Sunflower from "../components/Sunflower.astro";
import Sup from "../components/Sup.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const blog = await getCollection("blog");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="p-10 w-full text-gray-900">
      <header class="grid grid-cols-8 gap-10 items-start">
        <div class="col-span-4 flex gap-24 w-full flex-col">
          <div class="grid grid-cols-4">
            <h1
              class="col-span-2 text-2xl text-gray-900 flex gap-2 items-center"
            >
              <span class="text-blue-600 text-3xl animate-spin select-none"
                >✤</span
              > Abdullah Ammar
            </h1>
            <div
              class="col-start-4 flex justify-end items-center [&>svg]:stroke-2"
            >
              <HiOutlineMoon size="1.2em" />
            </div>
          </div>
          <div class="flex justify-end">
            <div class="flex gap-4 items-end">
              <Coffee />
              <Computer />
              <Sunflower />
            </div>
          </div>
        </div>
        <div class="col-span-4 flex flex-col w-full justify-between h-full">
          <div class="grid grid-cols-4 gap-10">
            <p class="col-span-4 text-2xl leading-[30.29px]">
              a software engineer who enjoys sleeping, reading, designing
              layouts, and occasionally building stuff. Currently learning about <Sup
              >
                (1)
              </Sup>grid systems,
              <Sup>(2)</Sup>crafting zines, <Sup>(3)</Sup>arranging letters, and <Sup
              >
                (4)
              </Sup>trying photography.
            </p>
          </div>
          <div class="grid grid-cols-4 gap-10">
            <ul class="col-span-2 flex justify-between items-center text-xl">
              <li class="text-gray-500 hover:text-gray-900">
                <a
                  href="https://github.com/abdmmar"
                  target="_blank"
                  rel="noreferrer">GitHub</a
                >
              </li>
              <li class="text-gray-300">/</li>
              <li class="text-gray-500 hover:text-gray-900">
                <a
                  href="https://twitter.com/abdmmar"
                  target="_blank"
                  rel="noreferrer">Twitter</a
                >
              </li>
              <li class="text-gray-300">/</li>
              <li class="text-gray-500 hover:text-gray-900">
                <a
                  href="mailto:abd.ammar.mar@gmail.com"
                  target="_blank"
                  rel="noreferrer">Email</a
                >
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main class="flex w-full flex-col mt-10 gap-10">
        <div class="grid grid-cols-8 gap-10">
          <CollectionFilter client:load />
          <div class="col-span-4 flex justify-end">
            <div
              class="rounded-sm font-ibmMono tabular-nums py-2 px-4 border border-gray-300"
            >
              100
            </div>
          </div>
        </div>
        <Collection client:load />
        <div class="grid grid-cols-8 gap-10">
          <div
            class="col-span-2 rounded-md border border-gray-200 p-4 flex flex-col gap-4 w-full"
          >
            <div class="flex justify-between items-center w-full">
              <div class="flex gap-10 font-ibmMono">
                <small class="text-blue-600">CODE</small><small
                  class="text-gray-600">2021</small
                >
              </div>
              <HiArrowUpRight size="0.8rem" />
            </div>
            <Image
              class="rounded-sm"
              alt="A lot of toast components"
              src={wcToast}
            />
            <div class="flex flex-col gap-2">
              <h3 class="text-xl">wc-toast</h3>
              <p class="text-gray-500">Universal toast component</p>
            </div>
          </div>
          <div
            class="col-span-2 rounded-md border border-gray-200 p-4 flex flex-col gap-4 w-full"
          >
            <div class="flex justify-between items-center w-full">
              <div class="flex gap-10 font-ibmMono">
                <small class="text-green-600">WRITING</small><small
                  class="text-gray-600">2021</small
                >
              </div>
              <HiArrowRight size="0.8rem" />
            </div>
            <Image
              class="rounded-sm"
              alt="A lot of toast components"
              src={wcToast}
            />
            <div class="flex flex-col gap-2">
              <h3 class="text-xl">wc-toast</h3>
              <p class="text-gray-500">Universal toast component</p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
