---
import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Collection } from "../components/Collection";
import Computer from "../components/Computer.astro";
import Sunflower from "../components/Sunflower.astro";
import Coffee from "../components/Coffee.astro";
import Cat from "../components/Cat.astro";
import Book from "../components/Book.astro";
import Cactus from "../components/Cactus.astro";
import Painting from "../components/Painting.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher";
import LangSwitcher from "@/components/LangSwitcher";
import Footer from "@/components/Footer.astro";

const blog = await getCollection("blog");
const project = await getCollection("project");
---

<BaseLayout>
  <header
    class="grid grid-cols-8 gap-10 items-start sm:grid-cols-4 md:grid-cols-4"
  >
    <div class="col-span-8 flex gap-10 w-full flex-col">
      <Header />
      <div class="flex justify-center">
        <div class="flex gap-8 items-end justify-between">
          <div class="flex flex-col items-center gap-8">
            <div class="sm:hidden md:hidden lg:hidden">
              <Painting />
            </div>
            <div class="flex items-end gap-8">
              <div class="sm:hidden md:hidden lg:hidden xl:hidden">
                <Cactus />
              </div>
              <div class="sm:hidden md:hidden lg:hidden">
                <Cat />
              </div>
              <div class="sm:hidden md:block lg:block">
                <Coffee />
              </div>
            </div>
          </div>
          <Computer />
          <div class="flex items-end gap-8">
            <div class="sm:hidden md:hidden lg:hidden xl:hidden">
              <Book />
            </div>
            <div class="sm:hidden md:hidden lg:block">
              <Sunflower />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="flex w-full flex-col mt-10 gap-10">
    <Collection
      client:load
      blog={blog}
      project={project}
    />
  </main>
  <Footer />
</BaseLayout>
