---

---

<pre
  aria-hidden="true"
  class="font-mono leading-5 text-md font-medium">
    <span class="text-blue-600">_</span>
 _ <span class="text-blue-600">|+|</span> __
| |<span class="text-blue-600">| |</span>|  | _  <span class="text-green-600">_</span>
| |<span class="text-blue-600">|+|</span>|  ||=|<span class="text-green-600">|#|</span> _    
| |<span class="text-blue-600">|+|</span>|  || |<span class="text-green-600">|#|</span>\ \   
| |<span class="text-blue-600">|+|</span>|  || |<span class="text-green-600">|#|</span> \ \  
| |<span class="text-blue-600">|+|</span>|  ||=|<span class="text-green-600">|#|</span>  \ \ 
|_|<span class="text-blue-600">|_|</span>|__||_|<span class="text-green-600">|_|</span>   \_\
</pre>
