---

---

<pre
  aria-hidden="true"
  class="font-mono leading-5 text-md font-medium">
    <span class="text-green-600">,*.
    | | ,.
,.  | |_|_|
|_|_| |</span>
  <span class="text-orange-600">__</span><span class="text-green-600">|</span><span class="text-orange-600">_</span><span class="text-green-600">|</span><span class="text-orange-600">__</span>
 <span class="text-orange-600">|_______|</span>
  <span class="text-orange-600">\     /</span>
   <span class="text-orange-600">\___/</span>
</pre>
