---

---

<pre
  aria-hidden="true"
  class="font-mono leading-5 text-md font-medium">
   <span class="text-orange-600">/\_/\</span>
 =<span class="text-orange-600">(</span> ^.^ <span class="text-orange-600">)</span>= <span class="text-orange-600">(</span>
   #####   ))
  <span class="text-orange-600">/ |</span>|<span class="text-orange-600">| \</span> <span class="text-orange-600">((</span>
 <span class="text-orange-600">(  |</span>|<span class="text-orange-600">|  )</span>)
 (<span class="text-orange-600">""</span>)_(<span class="text-orange-600">""</span>)
</pre>
