---
---

<pre
  aria-hidden="true"
  class="font-mono leading-[15.24px] text-sm font-medium">
	(
   ) )
 _(((__
|||   ||__
|||<span class="text-red-600">~~~</span>|| \\
|||<span class="text-red-600">###</span>|| ||
|||<span class="text-red-600">###</span>||_//
\======/
</pre>
