---
import { cn } from "@/utils";
const { class: className } = Astro.props;
---

<pre
  aria-hidden="true"
  class="font-ibmMono leading-6 text-xl font-medium sm:text-base md:text-base lg:text-base sm:leading-5 md:leading-5 lg:leading-5">
	  _________________
	 |  _____________  |_
	 | |<span class="text-blue-600">|||||||||||||</span>| |||
	 | |<span class="text-blue-600">|||||||||||||</span>| |||\\\
	 | |<span class="text-blue-600">|||</span><span class="text-green-600"><span class="">&gt;</span> <span class="animate-blip">start</span></span><span class="text-blue-600">|||</span>| |||||||
	 | |<span class="text-blue-600">|||||</span>exit<span class="text-blue-600">||||</span>| |||===|
	 | |<span class="text-blue-600">|||||||||||||</span>| |||===|
	 | |=============| |||///
	 |_________________|||||
	   |______________||||=
 _______(_____________))______
|       (------)  ________()  |\\\\
|                |[_____=_]|  ||||||
|_______________ |_.-____=_|  ||||||
 )||||||||||||||||_________|__|////</pre>
