---
---

<pre
  class="font-ibmMono leading-[23.24px] font-medium text-xl">
	  _________________
	 |  _____________  |_
	 | |<span class="text-blue-600">|||||||||||||</span>| |||
	 | |<span class="text-blue-600">|||||||||||||</span>| |||\\\
	 | |<span class="text-blue-600">|||</span><span class="text-green-600">&gt; start</span><span class="text-blue-600">|||</span>| |||||||
	 | |<span class="text-blue-600">|||||</span>exit<span class="text-blue-600">||||</span>| |||===|
	 | |<span class="text-blue-600">|||||||||||||</span>| |||===|
	 | |=============| |||///
	 |_________________|||||
	   |______________||||=
 _______(_____________))______
|       (------)  ________()  |\\\\
|                |[_____=_]|  ||||||
|_______________ |_.-____=_|  ||||||
 )||||||||||||||||_________|__|////</pre>
