---
import { HiOutlineMoon } from "react-icons/hi2";
---

<header class="grid grid-cols-8 gap-10">
  <div class="grid grid-cols-4 col-span-4">
    <h2 class="col-span-2 text-2xl text-gray-900 flex gap-2 items-center">
      <span class="text-blue-600 text-3xl animate-spin">✤</span> Abdullah Ammar
    </h2>
    <div class="col-start-4 flex justify-end items-center [&>svg]:stroke-2">
      <HiOutlineMoon />
    </div>
  </div>
  <ul class="col-span-4 flex flex-row items-center gap-10">
    <li><a>GitHub</a></li>
    <li><a>Twitter</a></li>
    <li><a>Email</a></li>
  </ul>
</header>
