---
import { cn } from "@/utils";
import ThemeSwitcher from "./ThemeSwitcher";
import LangSwitcher from "./LangSwitcher";

const { class: className } = Astro.props;
---

<div class={cn("grid grid-cols-4 sm:grid-cols-2 items-center", className)}>
  <a href="/" class="col-span-2">
    <h2 class="text-md text-gray-900 dark:text-gray-50 flex gap-2 items-center">
      Ammar
    </h2>
  </a>
  <div class="col-start-4 flex justify-end items-center gap-4">
    <ul class="flex justify-between items-center text-md gap-4 sm:gap-1 md:gap-2">
      <li
        class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-50 transition-all"
      >
        <a href="https://github.com/abdmmar" target="_blank" rel="noreferrer"
          >GitHub</a
        >
      </li>
      <li class="text-gray-300 dark:text-gray-800">•</li>
      <li
        class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-50 transition-all"
      >
        <a href="https://twitter.com/abdmmar" target="_blank" rel="noreferrer"
          >Twitter</a
        >
      </li>
      <li class="text-gray-300 dark:text-gray-800">•</li>
      <li
        class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-50 transition-all"
      >
        <a
          href="mailto:abd.ammar.mar@gmail.com"
          target="_blank"
          rel="noreferrer">Email</a
        >
      </li>
      <li class="text-gray-300 dark:text-gray-800">•</li>
      <ThemeSwitcher client:idle />
      <li class="text-gray-300 dark:text-gray-800">•</li>
      <LangSwitcher client:idle />
    </ul>
  </div>
</div>
