---
import { cn } from "@/utils";
import ThemeSwitcher from "./ThemeSwitcher";

const { class: className } = Astro.props;
---

<div class={cn("grid grid-cols-4 sm:grid-cols-2", className)}>
  <a href="/" class="col-span-2">
    <h2 class="text-xl text-gray-900 dark:text-gray-50 flex gap-2 items-center">
      <span class="text-blue-600 text-3xl animate-spin select-none">✤</span>
      Abdullah Ammar
    </h2>
  </a>
  <div class="col-start-4 flex justify-end items-center">
    <ThemeSwitcher client:idle />
  </div>
</div>
