---
---

<pre
  aria-hidden="true"
  class="font-ibmMono leading-5 text-md font-medium">
 _______________________
|  ___________________  |
| |    <span class="text-blue-600">/ \     / \</span>    | |
| |   <span class="text-blue-600">/   \   /   \</span>   | |
| |<span class="text-green-600">##</span><span class="text-blue-600">/</span><span class="text-green-600">~~~~~</span><span class="text-blue-600">\</span>_<span class="text-blue-600">/</span><span class="text-green-600">~~~~~</span></span><span class="text-blue-600">\</span><span class="text-green-600">##</span>| |
| |<span class="text-yellow-600">vvvvvvv</span> // <span class="text-yellow-600">vvvvvvvv</span>| |
| |<span class="text-yellow-600">vvvvvvv</span> \ \ <span class="text-yellow-600">vvvvvvv</span>| |
| |_______/___/_______| |
|_______________________|
</pre>
