---
---

<pre
  aria-hidden="true"
  class="font-mono leading-[18px] font-medium text-md">
	<span class="text-orange-600">_--_</span>
  <span class="text-orange-600">_/    \_</span>
 <span class="text-orange-600">/_ <span class="text-gray-900 dark:text-gray-50">/\/\</span> _\</span>
 <span class="text-orange-600">\_ <span class="text-gray-900 dark:text-gray-50">\__/</span> _/</span>
   <span class="text-orange-600">\_  _/</span>
	 <span class="text-orange-600">--</span>
     ||
  <span class="text-green-600">__</span> ||
 <span class="text-green-600">/__\</span>|| <span class="text-green-600">__</span>
     ||<span class="text-green-600">/__\</span>
     ||
 ____||____
|==========|
||||#####|#|
\\\\\####/#/
 \\\\\####/	
</pre>
