---
const { id } = Astro.props;
console.log(id)
---

<button
  id={id}
  data-theme-button-id={id}
  class="[&svg]:stroke-2 rounded-sm text-gray-500 hover:text-gray-900 transition-all dark:hover:text-gray-50"
>
  <div class="relative">
    <span class="light absolute right-0">Light</span>
    <span class="dark">Dark</span>
  </div>
</button>

<style>
  .light {
    opacity: 1;
  }
  .dark {
    opacity: 0;
  }
  :global(.dark) .light {
    opacity: 0;
  }
  :global(.dark) .dark {
    opacity: 1;
  }
</style>

<script>
  document.querySelectorAll('[data-theme-button-id]')?.forEach(btn => btn?.addEventListener("click", () => {
      const element = document.documentElement;
      element.classList.toggle("dark");

      const isDark = element.classList.contains("dark");
      localStorage.setItem("color-theme", isDark ? "dark" : "light");
    }
  ))
</script>
