---
import "@/styles/base.css";
import { ViewTransitions } from "astro:transitions";

import type { Props as MetaTagsProps } from "@/components/MetaTags.astro";
import MetaTags from "@/components/MetaTags.astro";

type Props = {
  meta?: MetaTagsProps;
};

const { meta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags {...meta} />
    <slot name="head" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script is:inline>
      const setDarkMode = () => {
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (
          localStorage.getItem("color-theme") === "dark" ||
          (!("color-theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      };
      setDarkMode();
      document.addEventListener("astro:after-swap", setDarkMode);
    </script>
    <ViewTransitions />
  </head>

  <body
    class="p-10 w-full text-gray-900 bg-white dark:bg-gray-950 dark:text-gray-50 antialiased sm:p-5"
  >
    <slot />
  </body>
</html>
